 body{
    background: #f1f4ff;
    font-family: Arial, Helvetica, sans-serif;

 }
 .card{
    border-radius: 10px;
 }
 button.btn-primary{
    transition: 0.3s ease;
 }
 button.btn-primary:hover{
    background-color: #0047b3;
 }
 header h1{
    color: #003366;
 }
 .container{
margin: auto;
display: flex;
align-self: center;


 }

 footer{
    margin-top:40px;
    color: #555;
 }